{% extends 'base.html.twig' %}

{% block content %}
	<main>
		<section class="jumbotron">
			<article class="stores">
				<p class="store-message">Gana dinero guardando equipaje a viajeros como tú</p>
				<div class="store-logos">
					<picture>
						<img src="images/app-store.svg">
					</picture>
					<picture>
						<img src="images/google-play.svg">
					</picture>
				</div>
			</article>
		</section>
		<section class="como-funciona">
			<div class="pasos-titulo">
				<p>¿Cómo funciona?</p>
			</div>
			<article class="pasos">
				<div class="paso">
					<div class="paso-circulo">1</div>
					<div class="paso-titulo">Date de alta</div>
					<div class="paso-texto">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius totam facere, facilis voluptates
																																							                            at id? Totam quo distinctio sed facilis quae molestiae expedita facere, labore voluptate ipsam?
																																							                            Sequi, quos nemo!
					</div>
				</div>
				<div class="paso">
					<div class="paso-circulo">2</div>
					<div class="paso-titulo">Date de alta</div>
					<div class="paso-texto">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius totam facere, facilis voluptates
																																							                            at id? Totam quo distinctio sed facilis quae molestiae expedita facere, labore voluptate ipsam?
																																							                            Sequi, quos nemo!
					</div>
				</div>
				<div class="paso">
					<div class="paso-circulo">3</div>
					<div class="paso-titulo">Date de alta</div>
					<div class="paso-texto">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius totam facere, facilis voluptates
																																							                            at id? Totam quo distinctio sed facilis quae molestiae expedita facere, labore voluptate ipsam?
																																							                            Sequi, quos nemo!
					</div>
				</div>
			</article>
		</section>
		<section class="contacto">
			<picture class="contacto-foto">
				<img src="images/iPhoneX@2x.png" class="imagen-lateral">
			</picture>
			<form class="contacto-formulario" action="{{ path('maleteo_data_receiver') }}" method="post">
				<div class="campo-formulario">
					<p class="titulo-medio">Solicita una demo</p>
				</div>
				<div class="campo-formulario">
					<p>Nombre</p>
					<input type="text" name="name" placeholder="Vincent Chase">
				</div>
				<div class="campo-formulario">
					<p>Email</p>
					<input type="text" name="email" placeholder="vincent@mga.com">
				</div>
				<div class="campo-formulario">
					<p>Ciudad</p>
					<select name="city">
						<option value="madrid">Madrid</option>
						<option value="barcelona">Barcelona</option>
						<option value="sevilla">Sevilla</option>
					</select>
				</div>
				<div>
					<p><input type="checkbox" name="politica">
						Aceptas la
						<a href="#">política de privacidad</a>
					</p>
				</div>
				<div class="campo-formulario">
					<button type="submit">ENVIAR</button>
				</div>
			</form>
		</section>
		{% include 'reviews.html.twig' with {lastReviews: lastReviews} %}
	</main>
	{% endblock %}
